{% extends 'core/base.html' %}

{% block title %}about{% endblock %}

{% block content %}
    <h1> ABOUT US PAGE 
    </h1>

    <h2>
      <br>
      WHAT ARE YOU DOING HERE ??
      <br>
      well I know why you are here, yes, yes I know, you are here because you are curious, you want to know more about us,  YOU NEED TO KNOW MORE ABOUT US, but why ??, not because you need more info, not because you wonder if there is something else to know, nope, you are here just for a reason and only one reason, <br>One reason to rule them all... <br>

      YOU are a bloody wanker who does not read the footer
    </h2>
{% endblock %}